.event-submenu {
  width: 10rem;
  position: absolute;
  list-style: none;
  text-align: start;
  padding: 1rem 0.3rem;
  background: rgb(69, 131, 36);
}

.event-submenu li {
  background: rgb(o, 212, 212s);
}

.event-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 3rem;
}

.submenu-item:hover {
  background: rgb(46, 85, 24);
}
