.cultural-heading {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: rgb(6, 6, 146);
}

.cultural-heading-expl {
  color: navy;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.cultural-container {
  margin: 1rem 4rem;
  color: rgb(6, 6, 146);
  text-align: justify;
  font-size: 1.2rem;
}

.cultural-des-heading {
  justify-content: start;
  font-size: 1.5rem;
}

.cultural-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cultural-text {
  width: 70%;
  text-align: start;
  padding-right: 4rem;
}

.cultural-text p {
  text-align: justify;
  font-size: 1.2rem;
  padding-top: 1rem;
}

#cultural-image {
  position: relative;
  width: 100%;
  height: 26rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  z-index: -99;
}
#cultural-image img {
  width: 100%;
  height: auto;
  object-fit: cover;

  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.cultural-cart {
  justify-content: center;
}

.cultural-cart-heading {
  justify-content: center;
  margin-top: 2rem;
}

.cultural-cart h3 {
  font-size: 1.2rem;
}

.cultural-cart-heading h3 {
  font-size: 1.7rem;
}

.cultural-cart p {
  font-size: 1.2rem;
}

.cultural-des-heading-gallery {
  padding-top: 2rem;
  justify-content: start;
  font-size: 1.5rem;
}

.cultural-event-gallery {
  position: relative;
  width: 25%;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.cultural-event-gallery img {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: -99;
  cursor: pointer;
}

.cultural-cart {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.cultural-episode {
  width: 30%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
}

.cultural-episode-image {
  height: auto;
  overflow: hidden;
  border-radius: 7px;
}

.cultural-episode-image img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.cultural-episode-image:hover img {
  transform: scale(1.3);
}

@media screen and (max-width: 850px) {
  .cultural-heading {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .cultural-heading-expl {
    font-size: 1rem;
  }

  .cultural-container {
    margin: 2rem 2rem;
    font-size: 1.4rem;
  }

  .cultural-des {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3.5rem;
  }

  .cultural-text {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }

  .cultural-text p {
    width: 100%;
    font-size: 1rem;
  }
  .cultural-des-2 {
    margin-bottom: 1rem;
  }

  .cultural-cart {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .cultural-episode {
    width: 100%;
  }

  .cultural-event-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #cultural-image {
    position: relative;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
  }
}
